%YAML 1.1
%TAG !u! tag:unity3d.com,2011:
--- !u!114 &11400000
MonoBehaviour:
  m_ObjectHideFlags: 0
  m_CorrespondingSourceObject: {fileID: 0}
  m_PrefabInstance: {fileID: 0}
  m_PrefabAsset: {fileID: 0}
  m_GameObject: {fileID: 0}
  m_Enabled: 1
  m_EditorHideFlags: 0
  m_Script: {fileID: 11500000, guid: TESTCONFIG_GUID, type: 3}
  m_Name: Test_StartNewGame
  m_EditorClassIdentifier: 
  testName: Start New Game
  objective: Desde el menu principal, inicia una nueva partida y verifica que se carga correctamente la primera escena del juego
  successCriteria: El juego debe iniciar y mostrar la escena de juego o tutorial inicial
  plannerAgent: {fileID: 11400000, guid: PLANNER_GUID, type: 2}
  executorAgent: {fileID: 11400000, guid: EXECUTOR_GUID, type: 2}
  verifierAgent: {fileID: 11400000, guid: VERIFIER_GUID, type: 2}
  maxPlanSteps: 10
  maxRetries: 3
  screenshotOnEachStep: 1
  predefinedSteps: []
  lastRunTime: 0
  lastRunResult: 
  lastRunPassedSteps: 0
  lastRunFailedSteps: 0
